@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
}
.topo {
    padding-left: 21px;
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    color: #FFFFFF;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.342);
}
h1 {
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
}
.topo p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.baixo{
    height: 92px;
    width: 100%;
    padding: 0 25px;
    background-color: #FFFFFF;
    position: fixed;
    bottom:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baixo button {
    background-color: #CBCBCB;
    width: 100%;
    height: 61px;
    padding: 0 90px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.pagina {
    margin: 92px 0 108px 0;
    padding-left: 21px;
    padding-top: 31px;
}
h2{
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 17px;
}
.pratos-principais{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.bebidas {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.sobremesas {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.opcao {
    margin-bottom: 27px;
    margin-right: 16px;
    height: 216px;
    width: 172px;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 14px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
}
.opcao img {
    height: 87px;
    width: 144px;
    object-fit: cover;
    border-radius: 4px;
}
h3{
    color: #333333;
    font-family: Roboco;
    font-size: 16px;
    font-weight: 700;
}
.opcao p {
    color: #A6A6A6;
    font-family: Roboco;
    font-size: 15px;
    font-weight: 300;
}
.opcao .preco {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.selecionado {
    outline: 5px solid #32B72F;
    outline-offset: -5px;
}